<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734033124661-grasbr5ctni6jv89ufq3607vhd3ukcpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734033124661-grasbr5ctni6jv89ufq3607vhd3ukcpv</string>
	<key>API_KEY</key>
	<string>AIzaSyALxnt5_UEFfPIqqJR7qoXcIgh5J-iBX9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>734033124661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>taskmanager.superwizer.com</string>
	<key>PROJECT_ID</key>
	<string>superwizer-be92d</string>
	<key>STORAGE_BUCKET</key>
	<string>superwizer-be92d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734033124661:ios:d2beb3c2053b9678e5807c</string>
	<key>DATABASE_URL</key>
	<string>https://superwizer-be92d.firebaseio.com</string>
</dict>
</plist>